P{
    font-size: 40pt;
    text-align: center;
}
ul li h1{
    text-align: center;
}
div{
    background-color: rgba(255, 255, 255, 0.8);   /*<------------  0.8 это прозрачность блока без текста*/
}
nav {
    margin: 10px 0;
    background-color: #e99d9d;
}

/* убираем отступы и поля, а также list-style для "ul", 
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    flex-direction:row-reverse;
    }

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: #e99d9d;
    }

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #570000;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}
nav ul ul ul {
    position: absolute;
    top:0;
    left:100%;
}